<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
   <script src="{{url_for('static',filename='js/main.js')}}" charset="UTF-8"></script>
</head>
<body>
   <form method="POST">
      <label>Yazi Giriniz</label>
      <input type="text" name="searchtext">
      <input type="submit" value="Giriş Yap">
   </form>
   {%for item in thePets%}
      <div class="item">
         <a href='#'>{{item['name']}}</a>
      </div>
   {%endfor%}
</body>
</html>