*{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
   text-decoration: none;
   color:white;
}
a:hover{
   text-decoration: none;
   color:grey;
}
small{
   font-weight: lighter !important;
   overflow: hidden;
}
.center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.align-top{
   top:0;
}
.bg-dark{
   background-color:	#212528 !important;
}
.align-bottom{
   bottom:0;
}
#content3 h4{
   font-weight: bolder;
}
.circle{
   border-radius:50%;
}
.nowrap-lg {
   white-space: normal;
 }
.line-height-less{
   line-height:0.5em;
}
.line-height-normal{
   line-height:1.5em;
}
.line-height-more{
   line-height:2em;
}
h2{
   font-size: 20px;
   margin: 0;
}
.font-size-bigger{
   font-size:20px;
}
.font-weight-lighter{
   font-weight: lighter;
}
.font-weight-normal{
   font-weight: normal;
}
.font-weight-little-bolder{
   font-weight: 500;
}
.font-segoe{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-georgia{
   font-family:sans-serif;
}
.font-tahoma{
   font-family:Tahoma, Geneva, Verdana, sans-serif;
}
.icon-size{
   width:100%;
   height:100%;
}
.bg-orange{
   background-color: orange;
}
.filler{
   width:100%;
   height:50px;
}
.nowrap{
   white-space: nowrap;
}
@media screen and (min-width:576px){
   .nowrap-md{
      white-space: nowrap;
   }
}
@media screen and (min-width:768px){
   .nowrap-md{
      white-space: nowrap;
}
}
 @media screen and (min-width:992px){
   .nowrap-lg{
      white-space: nowrap;
   }
}
 @media screen and (min-width:1200px){
   .nowrap-xl{
      white-space: nowrap;
   }
}