.clear{
    content:"";
    display:none;
    clear:both;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
body{
    background-color: rgb(128, 128, 128);
}
tr{
    background-color: aqua;
}